/* -----Página Sobre Nós -------*/
.duvidas{
    padding-top:5%; 
    padding-right:5%; 
    padding-left:5%; 
    padding-bottom:10%;
}

#sobre{
    width: 100%;
    display: inline-table;
    padding-bottom: 10%;
    background-color: black;
    position: relative;
    padding-right:8%; 
    padding-left:8%; 
}

#sobre #linkCastelo{
    width: 50%;
    display: inline-table;
    text-align: center;
}

#sobre #historia{
    height:50%;    
    width: 50%;
    display: inline-table;
    text-align: justify;
    color: white;
    padding-right:60px; 
    position:relative;
    top:-60px;
}

#imgCastelo{
    padding-top: 15%;
    height: auto; 
    width: 80%; 
}

#sobre #historia h1{
    text-align: center;
    text-transform:uppercase;
}


#accordion, .txtHistoria{
    font-size:20px;
}

@media only screen and (max-width: 1115px){
    #sobre {
        width: 100%;
        text-align: center;
    }
    #sobre #historia{
        text-align: justify;
        width: 100%;
        display: inline-table;
        padding-bottom: 10%;
        padding-top:5%;
        padding-right:5%;
        padding-left:5%;
        position:none;
        top:0;
    }
    #sobre #linkCastelo{
        width: 100%;
        display: inline-table;
        padding-top: 20px;
    }

    #imgCastelo{
        padding-top: 5%;
        width: 100%; 
    }

    #accordion{
        font-size:15px;
    }
  }
