/*--------------------------Por Classe--------------------------------*/
.menu{
    background-color: #c2943e;
}


.bg-img{
    background-image: url('../IMGs/CONSULTA_SITE/bgNAVBAR.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}



/*Deixa o menu hamburguer branco*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btnHamburguer{
    width: auto;
    height: auto;
    margin-right: 10px;
}


.linkNav{
    padding-left: 5px;
}

.linkNav:link, .linkNav:visited, .linkNav:active {color:#fefefe;}
.linkNav:hover{color:#90454c;} /*Mouse em cima do link*/

.linkSVG:link, .linkSVG:visited, .linkSVG:active {color:#fefefe;}
.linkSVG:hover{color:#c2943e;} /*Mouse em cima do link*/


.navbar .navbar-collapse {
text-align: center;
margin-right: 0.75em;
}
/*---------------------------------------------------------------------*/

/*---------------------------Por Tag-----------------------------------*/

a{
    font-weight: bold;
    text-decoration: none;
}

small{
    font-size: small;
}

nav{
    padding-bottom: 900%;
}
/*---------------------------------------------------------------------*/

/*----------------------------Medias Querys----------------------------*/  
@media only screen and (max-width: 300px) {
    /*Se a janela do navegador tiver 300px ou menos de largura
    a font muda de tamanho para o botão da navbar não quebar na linha*/
    .colorTxtNav{
        font-size: 14px;
    }
    .linkNav{
        padding-left: 10px;
        
    }

    .menu{
        font-size: small;
    }
  }
/*---------------------------------------------------------------------*/

/* -----Página Esqueci Senha ------- */

.body-password{
    background-color: #c2943e !important;
    color: rgb(78, 77, 77);
  }
  
  
  .f-password{
    background-color: #fefefe !important;
  }
  
  
  .f-password .f-button{
    background-color: #336548;
    color: white;
  }