/*------------------------------------------ESTILOS GLOBAIS------------------------------------------*/

/*--------------------------Por Classe--------------------------------*/
.menu{
    background-color: #c2943e;
}

.bg-img{
    background-image: url('../IMGs/CONSULTA_SITE/bgNAVBAR.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}

/*Deixa o menu hamburguer branco*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btnHamburguer{
    width: auto;
    height: auto;
    margin-right: 10px;
}

.linkNav{
    padding-left: 5px;
}

.linkNav:link, .linkNav:visited, .linkNav:active {color:#fefefe;}
.linkNav:hover{color:#90454c;} /*Mouse em cima do link*/

.linkSVG:link, .linkSVG:visited, .linkSVG:active {color:#fefefe;}
.linkSVG:hover{color:#c2943e;} /*Mouse em cima do link*/

.navbar .navbar-collapse {
text-align: center;
margin-right: 0.75em;
}

/*---------------------------Por Tag-----------------------------------*/
a{
    font-weight: bold;
    text-decoration: none;
}

small{
    font-size: small;
}

nav{
    padding-bottom: 900%;
}

/*----------------------------Medias Querys----------------------------*/  
@media only screen and (max-width: 340px) {
    /*Se a janela do navegador tiver 300px ou menos de largura
    a font muda de tamanho para o botão da navbar não quebar na linha*/
    .colorTxtNav{font-size: 14px;}
    .linkNav{padding-left: 10px;}
    .menu{font-size: small;}

    .login #login {
        font-size: 10px;
        text-align:left;
        width: 100%;
        padding-left: 0px;
    }

    #login #form{
        text-align: left;
        display: inline-table;
        padding: 0px;
    }
    #login #linkImg{
        display: inline-table;
        border-top-color:#C2943E;
        border-top-width: medium;
        border-top-style: solid;
        padding: 0px;
        
    }
    #imgLogin{
        width: 3%;
    }
    .svg{
        height: 40px;
    }
  }
/*------------------------SCROLL-BAR------------------------*/
body::-webkit-scrollbar-track {
    /*Edita o fundo da scrollbar*/
    background-color: #90454d69;
}

body::-webkit-scrollbar {
    /*Edita as dimeções globais da scrollbar*/
    background: #F4F4F4;
  }
body::-webkit-scrollbar-thumb {
    /*Edita o fundo a scrollbar*/
    background: #90454C;
}

/*------------------------FOOTER------------------------*/
#footer{
    background-image: linear-gradient(
        to top right,
        #90454C,
        #C2943E,
        #336548
    );

    width: 100%;
    display: inline-table;
    padding-bottom: 3%;
    padding-top: 5%;
    text-align: center;
    border-top-color:#90454c;
    border-top-width: 10px;
    border-top-style: solid;
}

#footer #empresa{
    width: 50%;
    display: inline-table;
    padding-right: 20px;
    padding-left: 5%;
    color: #336548;
}
#footer #devs{
    width: 50%;
    display: inline-table;
}
#imgEmpresa{
    height: auto; 
    width: 60%; 
}
.svg{
    height: 65px;
}
@media only screen and (max-width: 640px){
    #footer {
        padding-top: 5%;
        width: 100%;
    }
    #footer #empresa{
        text-align: center;
        width: 100%;
        display: inline-table;
        padding-bottom: 30px;
    }
    #footer #devs{
        width: 100%;
        display: inline-table;
        border-top-color:none;
        border-top-width: none;
        border-top-style: none;  
        padding-top: 20px;
    }
    #imgEmpresa{
        height: auto; 
        width: 100%; 
    }
    .svg{
        height: 45px;
    }

    #divInputBuscar{
        padding-top: 6%;
        padding-bottom: 6%;
    }

  }
/*--------------------------------------FIM ESTILOS GLOBAIS------------------------------------------*/

/* -----Página loginEcadastro ------- */
.linkCadastro:link, .linkCadastro:visited, .linkCadastro:active {color:#336548;}
.linkCadastro:hover{color:#C2943E;} /*Mouse em cima do link*/

.linkCad:link, .linkCad:visited, .linkCad:active {color:#90454C;}
.linkCad:hover{color:#C2943E;}
#login{
    width: 100%;
    display: inline-table;
    padding-top: 5%;
    padding-bottom: 5%; 
}

#login #form{
    width: 50%;
    display: inline-table;
    padding-right: 20px;
    padding-left: 10%;
    color: #336548;
}
#login #linkImg{
    width: 50%;
    display: inline-table;
    text-align: center;
}

#imgLogin{
    height: auto; 
    width: 60%; 
}

#cadastro{
    padding-top: 5%;
    padding-bottom: 10%;
    border-top-color:#C2943E;
    border-top-width: 2.4px;
    border-top-style: dotted; 
}
/*#90454C*/
@media only screen and (max-width: 640px){
    #login {
        width: 100%;
        text-align: center;
    }
    #login #form{
        text-align: justify;
        width: 100%;
        display: inline-table;
        padding-bottom: 30px;
    }
    #login #linkImg{
        
        width: 100%;
        display: inline-table;
        border-top-color:#C2943E;
        border-top-width: medium;
        border-top-style: ridge;  
        padding-top: 20px;
    }
  }

/*---------------------------------------------------------------------*/

/* -----Página Esqueci Senha ------- */
.body-password{
    background-color: #c2943e !important;
    color: rgb(78, 77, 77);
  }
  
  .f-password{
    background-color: #fefefe !important;
  }
  
  .f-password .f-button{
    background-color: #336548;
    color: white;
  }

/*---------------------------------------------------------------------*/

/* -----Página Cesta ------- */

  .add-more {
      color: #2183ed;
      margin-bottom: 20px;
  }

  .final-line{

      margin-bottom: 25px;
  }

  /*---------------------------------------------------------------------*/

/* -----Página Vitrine ------- */


  .box-img img {
    object-fit: cover !important;
    height: 350px;
}

.list-group-item{
    font-family: Roboto, Arial;
    font-size: 16px; 

}


